{% extends 'base.html' %}

{% block title %} API {% endblock %}

{% block content %}
<section class="col-md-12 content" id="home">
  <h1>Документация</h1>
  <div class="col-lg-6 col-md-6 content-item">
    <p>Запросы к API ML-Horo выполняются по протоколу HTTPS методом POST. Авторизация не нужна. Входные и выходные структуры данных передаются в теле запроса и ответа в формате JSON. В настоящий момент API работает только для прогнозов Ванги.</p>
    <p>Отправляйте запросы по адресу https://mlhoro.herokuapp.com/api-request</p>
    <div class="dev_page_block">
  <h3><div role="heading" class="wk_header">Формат&nbsp;POST-запроса на URL</div></h3><br>
Запрос содержит два поля: <br>
<table cellpadding="0" cellspacing="0" class="wk_table wk_table_no_margin"><colgroup><col style="width: 170px"></colgroup><caption><b>Структура запроса</b></caption>

<tbody>
<tr><td><b>choice</b><br>
<span class="wk_gray">object</span></td><td>Тип запроса. На сегодня или для конкретной даты. </td></tr>
<tr><td><b>period</b><br>
<span class="wk_gray">object</span></td><td>Дата рождения и требуемая дата прогноза. </td></tr>
</tbody>

</table> <br>
<table cellpadding="0" cellspacing="0" class="wk_table wk_table_no_margin"><colgroup><col style="width: 170px"></colgroup><caption><b>Варианты значений объекта choice</b></caption><tbody><tr><td><b>today</b><br>
<span class="wk_gray">string</span></td><td>Запросит прогноз по всем знакам на сегодня. </td></tr><tr><td><b>custom</b><br>
<span class="wk_gray">string</span></td><td>Запросит прогноз по одному знаку на выбранный день. </td></tr>
</tbody></table> <br>
<table cellpadding="0" cellspacing="0" class="wk_table wk_table_no_margin"><colgroup><col style="width: 170px"></colgroup><caption><b>Структура объекта period</b></caption><tbody><tr><td><b>[]</b><br>
<span class="wk_gray">list</span></td><td>Пустой список для ситуации с запросом на сегодня для всех знаков ('choice': 'today'). </td></tr><tr><td><b>[birthday, forecast_day]</b><br>
<span class="wk_gray">list of string</span></td><td>Дата рождения и дата прогноза в формате 'дд.мм.гггг'. </td></tr>
</tbody></table> <br>

<div class="wk_hider_box_opened"><div class="wk_hider_header"><div class="wk_hider_title" onclick="Wiki.switchHider(this)">Пример запроса</div></div><div class="wk_hider_body"><blockquote><tt>
{ <br>
&nbsp;&nbsp;"choice": "custom", <br>
&nbsp;&nbsp;"period": ["01.01.1900", "01.01.2021"] <br>
}</tt></blockquote> <br>
</div></div>
<div class="wk_hider_box_opened"><div class="wk_hider_header"><div class="wk_hider_title" onclick="Wiki.switchHider(this)">Пример запроса</div></div><div class="wk_hider_body"><blockquote><tt>
{ <br>
&nbsp;&nbsp;"choice": "today", <br>
&nbsp;&nbsp;"period": [] <br>
}</tt></blockquote> <br>
</div></div>

<div class="wk_hider_box_opened"><div class="wk_hider_header"><div class="wk_hider_title" onclick="Wiki.switchHider(this)">Пример ответа для произвольной даты</div></div><div class="wk_hider_body"><blockquote><tt>
{ <br>
&nbsp;&nbsp;"detected_sign": "Рыбы", <br>
&nbsp;&nbsp;"horoscope": "Ваш день будет..." <br>
}</tt></blockquote> <br>
</div></div>

<div class="wk_hider_box_opened"><div class="wk_hider_header"><div class="wk_hider_title" onclick="Wiki.switchHider(this)">Пример ответа для запроса на сегодня</div></div><div class="wk_hider_body"><blockquote><tt>
{ <br>
&nbsp;&nbsp;"horoscopes": { <br>
&nbsp;&nbsp;&nbsp;"Овен": "Ваш день станет...", <br>
&nbsp;&nbsp;&nbsp;"Телец": "Вам предстоит начать...", <br>
&nbsp;&nbsp;&nbsp;..., <br>
&nbsp;&nbsp;&nbsp;"Рыбы": "Уделите внимание вашим...", <br>
} <br>
}</tt></blockquote> <br>
</div></div>

</div>
  </div>
</section>
{% endblock %}
