{% extends 'base2.html' %}

{% block title %} API {% endblock %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<section class="col-md-12 content" id="home">
  <h1>Документация</h1>
  <div class="col-lg-6 col-md-6 content-item" style="width: 80%;">
    <p>Запросы к API ML-Horo выполняются по протоколу HTTP методом POST. Авторизация не нужна. Входные и выходные структуры данных передаются в теле запроса и ответа в формате JSON. В настоящий момент API работает только для прогнозов Нострадамуса.</p>
    <p>Отправляйте запросы по адресу <b style="font-weight: 700;">https://188.40.133.2:12121/custom_prediction</b></p>
    <div class="dev_page_block">
  <h3><div role="heading" class="wk_header">Формат&nbsp;POST-запроса на URL</div></h3><br>
Запрос содержит следующие параметры: <br>
<table cellpadding="0" cellspacing="0" class="wk_table wk_table_no_margin"><colgroup><col style="width: 170px"></colgroup><caption><b>Структура запроса</b></caption>

<tbody>
<tr><td><b>command</b><br>
<span class="wk_gray">string</span></td><td>Дата прогноза в формате "дд-мм-гггг" и номер знака зодиака</td></tr>
<tr><td><b>oracle</b><br>
<span class="wk_gray">string</span></td><td>Название оракула. (Параметры command и oracle должны быть завернуты в словарь, доступный по ключу request) </td></tr>
<tr><td><b>version</b><br>
<span class="wk_gray">number</span></td><td>Версия API (пока доступна только одна версия — 23) </td></tr>
<tr><td><b>session</b><br>
<span class="wk_gray">dict</span></td><td>Словарь с одним ключом user_id (number), в котором указывается id пользователя</td></tr>
</tbody>


</table> <br>
<table cellpadding="0" cellspacing="0" class="wk_table wk_table_no_margin"><colgroup><col style="width: 170px"></colgroup><caption><b>Номера для знаков зодиака</b></caption><tbody><tr><td style="padding:5px 5px 5px 50px;">
<span class="wk_gray">0</span></td><td>Общий прогноз (для всех знаков зодиака)</td></tr>

<tr><td style="padding:5px 5px 5px 50px;">
<span class="wk_gray">1</span></td><td>Овен</td></tr>

<tr><td style="padding:5px 5px 5px 50px;">
<span class="wk_gray">2</span></td><td>Телец</td></tr>

<tr><td style="padding:5px 5px 5px 50px;">
<span class="wk_gray">3</span></td><td>Близнецы</td></tr>

<tr><td style="padding:5px 5px 5px 50px;">
<span class="wk_gray">4</span></td><td>Рак</td></tr>

<tr><td style="padding:5px 5px 5px 50px;">
<span class="wk_gray">5</span></td><td>Лев</td></tr>

<tr><td style="padding:5px 5px 5px 50px;">
<span class="wk_gray">6</span></td><td>Дева</td></tr>

<tr><td style="padding:5px 5px 5px 50px;">
<span class="wk_gray">7</span></td><td>Весы</td></tr>

<tr><td style="padding:5px 5px 5px 50px;">
<span class="wk_gray">8</span></td><td>Скорпион</td></tr>

<tr><td style="padding:5px 5px 5px 50px;">
<span class="wk_gray">9</span></td><td>Козерог</td></tr>

<tr><td style="padding:5px 5px 5px 50px;">
<span class="wk_gray">10</span></td><td>Стрелец</td></tr>

<tr><td style="padding:5px 5px 5px 50px;">
<span class="wk_gray">11</span></td><td>Водолей</td></tr>

<tr><td style="padding:5px 5px 5px 50px;">
<span class="wk_gray">12</span></td><td>Рыбы</td></tr>

</tbody></table> <br>


<table cellpadding="0" cellspacing="0" class="wk_table wk_table_no_margin"><colgroup><col style="width: 170px"></colgroup><caption><b>Названия оракулов</b></caption><tbody><tr><td style="padding:5px 5px 5px 50px;">
<span class="wk_gray">vanga</span></td><td>Нострадамус</td></tr>

<tr><td style="padding:5px 5px 5px 50px;">
<span class="wk_gray">miha</span></td><td>Высший разум</td></tr>
</tbody></table> <br>


<div class="wk_hider_box_opened"><div class="wk_hider_header"><div class="wk_hider_title" onclick="Wiki.switchHider(this)">Пример запроса</div></div><div class="wk_hider_body"><blockquote><tt>
{ <br>
&nbsp;&nbsp;"request":{"command": "2020-12-03 1", "oracle": "vanga"}, <br>
&nbsp;&nbsp;"version":23, <br>
&nbsp;&nbsp;"session":{"user_id":123} <br>
}</tt></blockquote> <br>
</div></div>

<div class="wk_hider_box_opened"><div class="wk_hider_header"><div class="wk_hider_title" onclick="Wiki.switchHider(this)">Пример ответа для запроса</div></div><div class="wk_hider_body"><blockquote><tt>
{ <br>
&nbsp;&nbsp;"text": "День беспокойный, но интересный..." <br>
}</tt></blockquote> <br>
</div></div>
<!--
<div class="wk_hider_box_opened"><div class="wk_hider_header"><div class="wk_hider_title" onclick="Wiki.switchHider(this)">Пример запроса №2 (полная версия)</div></div><div class="wk_hider_body"><blockquote><tt>

<img src="/static/images/api_full.PNG" border-radius="3" width=75% height=75% alt="code-python">

</tt></blockquote> <br>
</div></div>

<div class="wk_hider_box_opened"><div class="wk_hider_header"><div class="wk_hider_title" onclick="Wiki.switchHider(this)">Пример ответа для запроса №2</div></div><div class="wk_hider_body"><blockquote><tt>
{ <br>
&nbsp;&nbsp;"text": "Может быть нелегко договориться...", <br>

}</tt></blockquote> <br>
</div></div> -->
<h3>
<a href = "https://colab.research.google.com/drive/1rCnOMUnERw6UQcG0YogYtAaKVQL9E82p?usp=sharing">Интерактивный пример</a>
</h3>

</div>
  </div>
</section>
{% endblock %}
