<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/templatemo-style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename= 'images/fav.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/cssworld.ru-xcal.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/cssworld.ru-xcal.js') }}"></script>
    <script src="//github.com/elderfadeev/js-datepicker/blob/master/cssworld.ru-xcal-en.js"></script>
<!--
Исходник шаблона взят отсюда
Puzzle Template
http://www.templatemo.com/tm-477-puzzle
-->
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <div class="fixed-header" style="background-image: url({{ url_for('static', filename='images/stars.jpg') }})">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <!--<span class="icon-bar"></span>-->
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ML-Horo</a>
            </div>
            <nav class="main-menu">
                <ul>
                    <li><a href="/">Гороскопы</a></li>
                    <li><a href="/index/experts">Наши эксперты</a></li>
                    <li><a href="/index/api">API</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="container">
        {% block content %} {% endblock %}


</div>

<div class="text-center footer">
	<div class="container" title="Команда: Рогачев Александр, Пиманов Даниил, Зеленский Павел, Педченко Андрей.
Куратор: Сулимов Павел
">
		Выпускной проект MADE ML гороскопы
    </div>
</div>

<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery.singlePageNav.min.js"></script>
<script src="static/js/cssworld.ru-xcal.js"></script>

<script>

// Check scroll position and add/remove background to navbar
function checkScrollPosition() {
    if($(window).scrollTop() >= 50) {
      $(".fixed-header").addClass("scroll");
  }
  else {
      $(".fixed-header").removeClass("scroll");
  }
}

// $(document).ready(function () {
//     // Single page nav
//     $('.fixed-header').singlePageNav({
//         offset: 59,
//         filter: ':not(.external)',
//         updateHash: true
//     });
//
//     checkScrollPosition();
//
//     // nav bar
//     $('.navbar-toggle').click(function(){
//         $('.main-menu').toggleClass('show');
//     });
//
//     $('.main-menu a').click(function(){
//         $('.main-menu').removeClass('show');
//     });
// });

$(window).on("scroll", function() {
    checkScrollPosition();
});
</script>
</body>
</html>
