{% extends 'base2.html' %}

{% block title %}
Эксперты
{% endblock %}

{% block content %}
<section class="col-md-12 content" id="home">
   <div class="col-lg-6 col-md-6 content-item" style="min-height: 321px !important;">
       <!-- <img src="static/images/1.jpg" alt="Image" class="tm-image"> -->
       <img src="/static/images/nostradamus.jpg" alt="Image" class="tm-image">
   </div>
   <div class="col-lg-6 col-md-6 content-item content-item-1 background" style="min-height: 370px !important;">
       <h2 class="main-title text-center dark-blue-text" style="margin-top: 20px; margin-bottom: 50px;">Прогноз от Нострадамуса</h2>
       <p style="text-align:justify;">Узнай свою судьбу раньше неё самой. Закажи прогноз от самого Нострадамуса.
       Самые точные прогнозы, ведь Нострадамус их делает на основе положений планет.</p>
   </div>
</section>

<section class="col-md-12 content padding" id="services">
<div class="col-lg-6 col-md-6 col-md-push-6 content-item">
   <!-- <img src="static/images/2.jpg" alt="Image" class="tm-image"> -->
   <img src="/static/images/razum.jpg" alt="Image" class="tm-image">
</div>
<div class="col-lg-6 col-md-6 col-md-pull-6 content-item background flexbox" style="min-height: 200px !important; padding: 5px 50px;">
 <h2 class="main-title text-center dark-blue-text" style="margin-top: 20px; margin-bottom: 50px;">Прогноз от Высшего разума</h2>
 <p style="text-align:justify;">Знает ответы на все вопросы. Строит гороскоп используя все знания человечества.</p>
</div>
</section>

<!-- <section class="col-md-12 content" id="clients">
<div class="col-lg-6 col-md-6 content-item">
   <img src="static/images/3.jpg" alt="Image" class="tm-image"> -->
   <!-- <img src="https://pbs.twimg.com/media/DuR-eV1W0AAgWFm.jpg:large" alt="Image" class="tm-image">
</div>
<div class="col-lg-6 col-md-6 content-item content-item-1 background">
   <h2 class="main-title text-center dark-blue-text">Прогноз от Бориса</h2>
   <p>Хочешь чего инновационного, закажи прогноз от супер-робота, сделанного из нейронных сетей. Ты только думаешь, а Борис уже видит будущее твоих потомков.</p>
</div> -->
</section>
{% endblock %}
