{% extends 'base.html' %}

{% block title %} Прогноз от ванги на любую дату {% endblock %}

{% block content %}
<script type="text/javascript" src="static/js/cssworld.ru-xcal.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/cssworld.ru-xcal.css">

<section class="col-md-12 content" id="home">
  <h1>Прогноз от ванги на любую дату</h1>
  <div class="col-lg-6 col-md-6 content-item">

    {% if dates %}
      <h4>Вы {{ dates[0] }}</h4>
      <p>Вас ждет {{ dates[1] }}</p>
      <form method="post" action="{{ url_for('vanga_custom') }}">
        <h4>Выберите дату рождения</h4>
        <input id="date1" name='date1' type="text" value="дд-мм-гггг" size="10" onClick="xCal(this);" onKeyUp="xCal()" oninput="xCal()">
        <h4>Выберите день прогноза</h4>
        <input id="date2" name='date2' type="text" value="дд-мм-гггг" size="10" onClick="xCal(this)" onKeyUp="xCal()" oninput="xCal()">
        <hr>
        <input type="submit" class="btn btn-big dark-blue-btn" value="Попробовать еще раз">
      </form>
    {% else %}
      <form method="post" action="{{ url_for('vanga_custom') }}">
        <h4>Выберите дату рождения</h4>
        <input id="date1" name='date1' type="text" value="дд-мм-гггг" size="10" onClick="xCal(this);" onKeyUp="xCal()" oninput="xCal()">
        <h4>Выберите день прогноза</h4>
        <input id="date2" name='date2' type="text" value="дд-мм-гггг" size="10" onClick="xCal(this)" onKeyUp="xCal()" oninput="xCal()">
        <hr>
        <input type="submit" class="btn btn-big dark-blue-btn" value="Узнать прогноз">
      </form>
    {% endif %}

  </div>
</section>
{% endblock %}
